<div class="add_character">
    <label for="characterName">Character Name:</label> <input type="text" id="characterName" /><br/>
    <label for="playerName_first">Player First Name:</label> <input type="text" id="playerName_first" />
    <label for="playerName_last">Player Last Name:</label> <input type="text" id="playerName_last" /><br/>
    <label for="class">class:</label> <input type="text" id="class" /><br/>
    <label for="level">level:</label> <input type="text" id="level" /><br/>
    <label for="ecl">ecl:</label> <input type="text" id="ecl" /><br/>
    <label for="race">race:</label> <input type="text" id="race" /><br/>
    <label for="template">template:</label> <input type="text" id="template" /><br/>
    <label for="size">size:</label> <input type="text" id="size" /><br/>
    <label for="gender">gender:</label> <input type="text" id="gender" /><br/>
    <label for="alignment">alignment:</label> <input type="text" id="alignment" /><br/>
    <label for="patronDeity">patronDeity:</label> <input type="text" id="patronDeity" /><br/>
    <label for="weight">weight:</label> <input type="text" id="weight" /><br/>
    <label for="description">description:</label> <input type="text" id="description" /><br/>
    <label for="strength">strength:</label> <input type="text" id="strength" /><br/>
    <label for="dexterity">dexterity:</label> <input type="text" id="dexterity" /><br/>
    <label for="constitution">constitution:</label> <input type="text" id="constitution" /><br/>
    <label for="intelligence">intelligence:</label> <input type="text" id="intelligence" /><br/>
    <label for="wisdom">wisdom:</label> <input type="text" id="wisdom" /><br/>
    <label for="charisma">charisma:</label> <input type="text" id="charisma" /><br/>
    <label for="hitPoints">hitPoints:</label> <input type="text" id="hitPoints" />
    <br/>
    <a href="#" class="save-button">Save Contact</a> | <a href="#"><< Back</a>
</div>
